

#container{
    width:25%;
    margin-left: auto;
    margin-right: auto;
    /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  */
}

.row-of-quadrats {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
   
    line-height:30px;
}
.quadrat {
    background: red;
    margin: 1px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 auto;
    height:auto;
}
.quadrat:before {
    content:'';
    float:left;
    padding-top:100%;
}